In [ ]:
##Solution to Assignment 1

In [ ]:
# Solution to Q1
Name='Anish Rai'; #string type variable
Mutable = ['Anish', 28,'M', 1994]; #list type variable
decimal= 55.67 #Float type variable
immutable= ('Anish', 28, 'M', 1994); #tuple type variable

In [32]:
# Solution to Q2

#var1 is a string type variable
#var2 is a string type variable
#var3 is a list type variable
#var4 is a float type variable

In [38]:
#Solution to Q3
# / gives the quotient term of the division
# % gives the remainder term of the division when the quotient is in whole no.
# // gives the smallest possible quotient term e.g: 9//2 will give 4 as the answer.
# ** is used as power e.g: 9**2 gives 81 as the answer.

In [60]:
#Solution to Q4
Details = ['Anish', 'Rai', 'Age', 28, 67.898, 'PW' , 'DOB', 'marks', 89.8, 'Thank you'];
for i in Details:
    print(i, "is a", type(i), 'data type')

Anish is a <class 'str'> data type
Rai is a <class 'str'> data type
Age is a <class 'str'> data type
28 is a <class 'int'> data type
67.898 is a <class 'float'> data type
PW is a <class 'str'> data type
DOB is a <class 'str'> data type
marks is a <class 'str'> data type
89.8 is a <class 'float'> data type
Thank you is a <class 'str'> data type

In [28]:
#Solution to Q5
i=0;
A=int(input());
B=int(input());

while i<1:
    if A%B==0:
        print(A, 'is divisible by', B)
        print('It is divisible', A/B, 'times')
        i += 1
    else:
        print(A, 'is not divisible by', B)
        i += 1

 500
 2

500 is divisible by 2
It is divisible 250.0 times

In [8]:
#Solution to Q6
numbers=[2,5,7,8,9,10,123,12,32,45,56,67,78,98,1234,23456,234,221,345,43,432,654,78,97,55,33,22,11,88,99,909,878,767,656,545,545,345,435,674,21,67,446,786,589,985,78,984];
for i in numbers:
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

2 is not divisible by 3
5 is not divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
123 is divisible by 3
12 is divisible by 3
32 is not divisible by 3
45 is divisible by 3
56 is not divisible by 3
67 is not divisible by 3
78 is divisible by 3
98 is not divisible by 3
1234 is not divisible by 3
23456 is not divisible by 3
234 is divisible by 3
221 is not divisible by 3
345 is divisible by 3
43 is not divisible by 3
432 is divisible by 3
654 is divisible by 3
78 is divisible by 3
97 is not divisible by 3
55 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
11 is not divisible by 3
88 is not divisible by 3
99 is divisible by 3
909 is divisible by 3
878 is not divisible by 3
767 is not divisible by 3
656 is not divisible by 3
545 is not divisible by 3
545 is not divisible by 3
345 is divisible by 3
435 is divisible by 3
674 is not divisible by 3
21 is divisible by 3
67 is not divisible by 3
446 is not divisible by 3
786 is divisible by 3
589 is not divisible by 3
985 is not divisible by 3
78 is divisible by 3
984 is divisible by 3

In [13]:
# Solution to Q7
# Mutable datatypes are those datatypes which can be modified, i.e., new variable can be added or old can be removed without modifying the variable datatype.
# Immutable datatype cannot be modified once it is formed. If we try to modify then the new variable gets stored in the old variable name
data=[1,3,4]; #list datatype mutable datatype
data[1]=5; # The variable in the 1st index gets replaced by 5
data1=(1,3,4); #immutable datatype